* {
    box-sizing: border-box;
}

body {
    margin: 2rem;
    background-color: rgb(170, 101, 101);
}

.control-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.option-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}





























